{% extends "base.html" %}

{% block title %}
Manage Bookings
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Booking Records</h2>
    <a href="{{ url_for('admin.dashboard') }}"
       class="btn btn-secondary">
        Back
    </a>
</div>

<table class="table table-bordered table-striped table-hover align-middle">
    <thead>
        <tr>
            <th>S.No</th>
            <th>User</th>
            <th>Trek</th>
            <th>Location</th>
            <th>Booking Date</th>
            <th>Booking Status</th>
            <th>Trek Status</th>
        </tr>
    </thead>

    <tbody>
    {% if bookings %}
        {% for booking in bookings %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ booking.user.name }}</td>
            <td>{{ booking.trek.name }}</td>
            <td>{{ booking.trek.location }}</td>
            <td>
                {{ booking.booking_date.strftime("%d-%m-%Y") }}
            </td>
            <td>{{ booking.status }}</td>
            <td>{{ booking.trek.status }}</td>
        </tr>
        {% endfor %}

    {% else %}

        <tr>
            <td colspan="7" class="text-center">
                No bookings found.
            </td>
        </tr>

    {% endif %}

    </tbody>
</table>

{% endblock %}