{% extends "base.html" %}
{% block title %}
Trek Display
{% endblock title %}
{% block content %}
<h2 class="mb-3">Manage Treks</h2>
<div class="d-flex justify-content-between align-items-center mb-3">
    <form method="GET" class="w-100">
        <div class="input-group">
            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search treks..."
                value="{{ search }}">

            <button
                class="btn btn-primary">
                Search
            </button>
            <a href="{{ url_for('admin.create_trek') }}"
               class="btn btn-success">
                 Create Trek
            </a>
        </div>
    </form>


</div>
<table class="table table-bordered table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>S.No</th>
            <th>Trek Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Assigned Staff</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% if treks %}
        {% for trek in treks %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ trek.name }}</td>
            <td>{{ trek.location }}</td>
            <td>{{ trek.difficulty }}</td>
            <td>{{ trek.duration }} days</td>
            <td>{{ trek.status }}</td>
            <td>{{ trek.staff.name if trek.staff else "Not Assigned" }}</td>
            <td>
                <div class="d-flex gap-2">
                    <a href="{{ url_for('admin.edit_trek', id=trek.id) }}" class="btn btn-warning btn-sm">
                        Edit
                    </a>
                    <form method="POST" action="{{ url_for('admin.delete_trek', id=trek.id) }}">

                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('Delete this trek?')">
                            Delete
                        </button>

                    </form>

                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="8" class="text-center">
                No treks found.
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}