{% extends "base.html" %}
{% block title %}
User Dashboard
{% endblock title %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Available Treks</h2>
</div>

<form method="GET" class="row g-3 mb-4">

    <div class="col-md-4">
        <input type="text" name="search" class="form-control" placeholder="Search Trek..." value="{{ search }}">
    </div>

    <div class="col-md-3">
        <select name="difficulty" class="form-select">
            <option value="">All Difficulties</option>

            <option value="Easy" {% if difficulty=="Easy" %}selected{% endif %}>
                Easy
            </option>

            <option value="Moderate" {% if difficulty=="Moderate" %}selected{% endif %}>
                Moderate
            </option>

            <option value="Hard" {% if difficulty=="Hard" %}selected{% endif %}>
                Hard
            </option>

        </select>
    </div>

    <div class="col-md-3">
        <input type="text" name="location" class="form-control" placeholder="Location" value="{{ location }}">
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100" type="submit">
            Filter
        </button>
    </div>
    <div class="col-md-2">
        <a href="{{ url_for('user.dashboard') }}" class="btn btn-secondary w-100">
            Clear
        </a>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Slots</th>
            <th>Staff</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if available_treks %}
        {% for trek in available_treks %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ trek.name }}</td>
            <td>{{ trek.location }}</td>
            <td>{{ trek.difficulty }}</td>
            <td>{{ trek.available_slots }}</td>
            <td>{{ trek.staff.name if trek.staff else "Not Assigned" }}</td>
            <td>{{ trek.action }}</td>
            <td>
                <form method="POST" action="{{ url_for('user.book_trek', id=trek.id) }}">
                    <button class="btn btn-success btn-sm">
                        Book
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="7" class="text-center">
                No treks available.
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}